body{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    min-height: 100vh;
}

.card{
    border: none;
    border-radius: 15px;
}

h1, h3{
    font-weight: bold;
}

table{
    border-radius: 10px;
    overflow: hidden;
}

button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.editar{
    background: orange;
    color: white;
}

.excluir{
    background: red;
    color: white;
}
